<h4>
  Found <%= pluralize(@influencers.total_count, 'influencer') %>
  <%= "with #{number_humanizer(params[:min_f])} to #{number_humanizer(params[:max_f])} followers" %>
  with interest in
  <% @categories.each do |category| %>
    <% category = Category.find(category.to_i) %>
    <%= image_tag category.img_path(@categories), class: "inf-badge", title: "#{category.name}" %>
  <% end %>
</h4>

<div class="inf-container">
  <div id="card-grid" class="inf-card-grid">
    <% @influencers.each do |influencer| %>
      <%= render 'components/inf-card', influencer: influencer %>
    <% end %>
  </div>
  <div class="inf-data">
    <%= link_to "Select", new_mailing_path, class: "btn btn-primary sticky", id: "stupid_button" %>
  </div>
</div>
<%= render 'components/loader', id: 'inf' %>

<% conditions = {page: params[:page] || 1, followers_count: params[:followers_count], following_count: params[:following_count]} %>
<%= link_to 'More', influencers_path(conditions), remote: true, format: :js, id: "pagination-ajax" %>

<!-- - Make the button hidden, show it after the guy selects one influencer
- Make the influencer go out of the array when de-selects
- Instead of a window alert, use a modal or something like that, more pretty -->

<% content_for(:after_js) do %>
  <script>
    const myArray = [];
    const bindSelector = (event) => {
      element = event.target;
      if (element.classList.contains('inf-card-grid')) {
        element = event.target;
      } else if (!element.classList.contains('inf-selector')) {
        element = event.target.querySelector('.inf-selector');
      }

      if (element && element.classList.contains('inf-selector')) {
        event.preventDefault();
        element.parentElement.classList.toggle("active");
        if (myArray.includes(element.id)) {
          let x = myArray.findIndex(x => x == element.id);
          myArray.splice(x, 1);
        } else {
          myArray.push(element.id);
        };
      }
    }

    document.getElementById('card-grid').addEventListener("click", bindSelector);

    const button = document.getElementById("stupid_button");
    button.addEventListener("click", (event) => {
      if (myArray.length == 0) {
        event.preventDefault();
        window.alert("Select influencers before moving on!!!");
      } else {
        event.currentTarget.href += `?influencers_ids=${myArray}`
      }

    });

    let page = 1;
    const max_page = <%= @influencers.total_pages %>;
    const infLoader = document.getElementById('inf-loader');

    infiniteScroll = (event) => {
      if (document.documentElement.scrollHeight - window.innerHeight - window.scrollY < 600 && max_page > page) {
        window.removeEventListener("scroll", infiniteScroll);
        infLoader.style.display = 'block';
        $.get({
          url: "<%= "#{influencers_path}?min_f=#{params[:min_f]}&max_f=#{params[:max_f]}&categories=#{params[:categories]}&page=" %>" + ++page,
          dataType: 'jsonp'
        });
      }
    }
    window.addEventListener("scroll", infiniteScroll);

  </script>
<% end %>
