<div class="secondary_filter">
  <div>
  </div>
  <div class="searchresults">



    <%= link_to "Select", new_mailing_path, class: "btn btn-primary", id: "stupid_button" %>
  </div>

</div>


<div class="container">
  <div class="row">
     <% @influencers.each do |influencer| %>
    <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-description">
            <h2><%= influencer.username %></h2>
            <h2><%= influencer.followers_count %></h2>
            <h2><i class="fas fa-chevron-<%= influencer.follow_ratio > 1 ? "up green" : "down red" %>"></i></h2>
          </div>

          <%#= form_for(influencer) do |f| %>
          <div class="form-selectbox">
            <div id="<%= influencer.id %>" class="selection_field" style="width: 30px; height: 30px;"></div>
            <%#= f.submit "Action 1", class: "selection_field" %>
          </div>
          <%# end %>

        <a class="card-link" href="#"></a>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- - Make the button hidden, show it after the guy selects one influencer
- Make the influencer go out of the array when de-selects
- Instead of a window alert, use a modal or something like that, more pretty -->

<% content_for(:after_js) do %>
  <script>
    const myArray = [];
    document.querySelectorAll(".selection_field").forEach((field) => {
      field.addEventListener("click", (event) => {
        event.currentTarget.classList.toggle("selection-field-circle");
        myArray.push(field.id);
      });
    });

    const button = document.getElementById("stupid_button");
    button.addEventListener("click", (event) => {
      if (myArray.length == 0) {
        event.preventDefault();
        window.alert("Select influencers before moving on!!!");
      } else {
        event.currentTarget.href += `?influencers_ids=${myArray}`
      }

    });
  </script>
<% end %>
