<div class="container">
  <%= image_tag 'http://placehold.it/1200x200?text=PLACEHOLDER FOR NICE STATISTICS', style: 'max-width: 100%' %>
  <div class="row">
    <div class="col-md-4">
      <% @influencers.each do |influencer| %>
        <%= render 'components/inf-card', influencer: influencer, summary: true %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% sample_mail = "Dear Influencer, please have a look at this amazing product that we sell. It is really worth giving it a shoutout, as it is sustainable as well as fair-trade. It also comes with a great customer support and we guarantee the delivery on time. Of course we use sutainable packaging materials. We love our nature just as much as you do. Lets join forces. Kind regards, Your Team XYZ"%>
      <div class="messenger">
        <%= simple_form_for @mailing do |f| %>
          <%= f.input :content, placeholder: sample_mail, as: :text, input_html: {rows: 10, class: "mail_text_field"} %>
          <%= f.submit "send", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <p>
  <strong>Emails:</strong>
  <% @influencers.each do |influencer| %>
    <p> <%= influencer.email %> <p>
  <% end %>
</p>
 -->
