<!-- <div class="container">
<h1>EMAILS SENT:</h1>
<p><%= @mailing.brand.email %></p>
<p><%= @mailing.content %></p>
</div> -->
<div class="container" style="height: 100%; background-color: #fafafa">
  <% @mailing.influencers.each do |influencer| %>
    <div class="message">
      <p style="color: #EA338C;"><strong><%= @mailing.created_at.strftime("%B %d, %Y") %></strong></p>
<!--       <img class="avatar-large"> <i class="fas fa-envelope fa-3x", style="margin-right: 40px"> </i> -->
      <div class="message-name">
        <h3><%= influencer.username %></h3>
        <p>Followers: <%= influencer.followers_count %></p>
      </div>
      <div class="message-body">
        <p><strong><%= @mailing.subject %></strong></p>
        <p>
          <%= truncate(@mailing.content, :length => 120 , :separator => ' ') %>
        </p>
      </div>
      <div class="message-status">
        <%= cl_image_tag influencer.photo.url(:thumbnail), class: 'avatar', alt: 'Img' %>
      </div>
    </div>
  <% end %>
</div>
