<div class="banner" style="background-color: rgba(0,0,0,0.05)";>
  <div class="banner-content">
    <div class="margin">
      <h1>Spread a cause</h1>
    </div>
    <div class="margin">
    <p>Find Influencers with social and environmental interests.</p>
    </div>
    <div class="margin-s">
    <%= form_tag influencers_path, :method => :get, class: '' do %>
    <div class="form-group form-group-lg">
      <select class="form-group selections" name="categories[]" multiple="multiple" placeholder="Select your categories">
        <% Category.all.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>
    <div class="rangeslider">

      <div class="margin">
        <input id="ex2" type="text" class="span2 form-group" name="followers[]" value=""  data-slider-ticks="[5k,10k,50k,500k,1m,5m]" data-slider-ticks-labels="[5k,10k,50k,500k,1m,5m]" data-slider-step="100" data-slider-value="[100,500]"/>

        <div class="title">
          <p class="note form-group">Followers: <span id="currentValue">5000</span></p>
        </div>
      </div>

      <div class="margin">
        <input id="ex3" type="text" class="span2 form-group" name="following[]" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
        <div class="title">
          <p class="note form-group">Followings: <span id="currentValue2">2500</span></p>
        </div>
      </div>
    </div>
      <div class="layout">
        <%= submit_tag "Search", class: 'btn btn-success btn-lg'%>
      </div>
      <!--       <input class="form-group" id="followers" name="followers_count" type="range" min="0" max="10000" step="10"/>
      <p class="note">Followers: <span id="currentValue">5000</span></p>
      <input class="form-group" id="followings" name="following_count" type="range" min="0" max="5000" step="10"/>
      <p class="note">Followings: <span id="currentValue2">2500</span></p> -->
      <%#= select_tag :categories, options_for_select(Category.all.map{|c| [c.name, c.id]}, nil), :include_blank => 'Any category', class: "form-control" %>
    </div>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('.selections').select2({
        placeholder: "Select your categories",
        allowClear: true
      });

    });
    var slider = new Slider('#ex2', {

    });
    // $("#ex2").slider({});
    var slider = new Slider('#ex3', {});
  </script>
<% end %>
