<div class="banner" style="background-image: url(<%= asset_path 'slack-imgs.jpg' %>);">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card1">
      <h1>Spread a cause</h1>
      <p>Find influencers that have a mutual cause with your brand.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="banner-content">
        <%= form_tag influencers_path, :method => :get, class: '' do %>
          <div class="form-group form-group-lg">
            <select class="selections" name="categories[]" multiple="multiple" placeholder="Select your categories">
              <% Category.all.each do |c| %>
                <option value="<%= c.id %>"><%= c.name %></option>
              <% end %>
            </select>

            <input id="followers" name="followers_count" type="range" min="0" max="10000" step="10"/>
            <p class="note">Followers: <span id="currentValue">5000</span></p>

            <input id="followings" name="following_count" type="range" min="0" max="5000" step="10"/>
            <p class="note">Followings: <span id="currentValue2">2500</span></p>
            <%#= select_tag :categories, options_for_select(Category.all.map{|c| [c.name, c.id]}, nil), :include_blank => 'Any category', class: "form-control" %>
            <%= submit_tag "Search", class: 'btn btn-success btn-lg'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
    $('.selections').select2({
    placeholder: "Select your categories",
    allowClear: true
    });
  });
  </script>

<% end %>
