<div class="inf-card">
  <div class="inf-header">
    <%= cl_image_tag influencer.photo.url(:thumbnail), class: 'avatar', alt: "#{influencer.name} picture" %>
    <div class="inf-title">
      <%= influencer.name %>
      <% if influencer.verified %>
        <i class="fas fa-check-circle" title='Verified User'></i>
      <% end %>
      <div class="inf-info">
        <%= link_to influencer.instagram_path, target: '_blank' do %>
          <i class="fab fa-instagram"></i>
          <%= influencer.username %>
        <% end %>
      </div>
    </div>
    <div class="inf-selector"></div>
  </div>

  <div class="inf-subheader">
    <ul class="inf-subheader-data">
      <li><strong><%= influencer.ig_followers %></strong> followers</li>
      <li><strong><%= influencer.ig_following %></strong> following</li>
    </ul>
  </div>
  <div class="inf-content">
    <p></p>
    <%= image_tag 'http://placehold.it/400x150/fafafa/eee/?text=Data' %>
  </div>
</div>
