<div class="inf-card">
  <div class="inf-header">
    <%= image_tag 'http://placehold.it/120', class: 'avatar' %>
    <div class="inf-title">
      <%= influencer.name %>
      <div class="inf-info">
        <i class="fab fa-instagram"></i>
        <%= influencer.username %>
      </div>
    </div>
  </div>

  <div class="inf-content">
    <ul class="inf-content-data">
      <li><strong><%= influencer.ig_followers %></strong> followers</li>
      <li><strong><%= influencer.ig_following %></strong> following</li>
    </ul>
  </div>
  <div class="inf-footer">
    <%= image_tag 'http://placehold.it/400x150/fff?text=Data' %>
  </div>
</div>
