<% summary    = summary || false %>
<% admin_card = admin_card || false %>
<% active     = active || false %>

<div class="inf-card">
  <label for='<%= influencer.id %>'>
    <div class="inf-header <%= active.present? ? 'active' : '' %>">
      <%= cl_image_tag influencer.photo.url(:thumbnail), class: 'avatar', alt: 'Img' %>
      <div class="inf-title">
        <%= influencer.name %>
        <% if influencer.verified %>
          <i class="fas fa-check-circle" title='Verified User'></i>
        <% end %>
        <div class="inf-info">
          <%= link_to influencer.instagram_path, target: '_blank' do %>
            <i class="fab fa-instagram"></i>
            <%= influencer.username %>
            <span class="inf-more-info">(more info)</span>
          <% end %>
        </div>
      </div>
      <%= link_to '', '#', id: influencer.id, type: "checkbox", name: "", value: "", class: "inf-selector" unless admin_card %>
    </div>
    <div class="inf-subheader">
      <ul class="inf-subheader-data">
        <li><strong><%= influencer.ig_followers %></strong> followers</li>
        <li><strong><%= influencer.ig_following %></strong> following</li>
      </ul>
    </div>
  </label>

  <% unless summary %>
    <div class="inf-content">
      <p><strong>E-mail:</strong> <%= influencer.email %></p>
      <p><%= influencer.bio %></p>
      <p><%= number_to_percentage(influencer.influencer_score, precision: 2) %></p>
      <p><%= influencer.media_score %></p>
    </div>
  <% end %>
  <% if admin_card %>
    <div class="inf-content">
      <p><strong>E-mail:</strong> <%= influencer.email %></p>
      <p><%= influencer.bio %></p>
    </div>
  <% end %>
</div>
