<%= render 'components/banner' %>

<div class="text-center">
  <%= image_tag ("screenshot-macbook.png") %>
</div>

<div class="usp_container">
  <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-4">

          <div class="usp_card">
            <a class="usp_symbol" href="#"><i class="far fa-gem fa-7x"> </i></a>
            <div class="usp_card-description">
              <h2>Influencer</h2>
                <h2 class="margin-top-zero">Search</h2>
                <div class="text">
                  <p>Poser Influencer Search engine. Find influencers by
                  number of followers, location(brasil) and Interests.</p>
                </div>
            </div>
          </div>

        </div>

      <div class="col-xs-12 col-sm-4">


        <div class="usp_card">
          <a class="usp_symbol" href="#"><i class="fas fa-envelope fa-7x"> </i></a>
          <div class="usp_card-description">
            <h2>Build in</h2>
            <h2 class="margin-top-zero">messenger</h2>
             <div class="text">
                <p>Contact multiple Influencers at a time via your
                crad.io account. Simple, fast, and secure.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">

        <div class="usp_card">
          <a class="usp_symbol" href="#"><i class="fas fa-leaf fa-7x"> </i></a>
          <div class="usp_card-description">
            <h2>Social</h2>
            <h2 class="margin-top-zero">purposes</h2>
             <div class="text">
                <p>You can search by what social purpose the influencer
                is driven by.</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="feedback_container">
  <h1> What our customers say </h1>
  <h3> We follow one simple business rule: Customer first. And we are successful with that. </h3>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">

        <div class="feedback_card" style="background-color: white;">
          <div class="card-category">May 4th, 2018</div>
          <div class="feedback_card-description">
            <h2>It is great!</h2>
            <p>This marketplace for influencers is amazing. I love it. I can contact influencers that are interested in spreading a cause and willing to promote my social product. Extraordinary.</p>
          </div>
          <img class="card-user" src=<%= "https://kitt.lewagon.com/placeholder/users/random?#{rand}" %>>
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">

        <div class="feedback_card" style="background-color: white;">
          <div class="card-category">May 4th, 2018</div>
          <div class="feedback_card-description">
            <h2>Love it..</h2>
            <p>This marketplace for influencers is amazing. I love it. I can contact influencers that are interested in spreading a cause and willing to promote my social product. Extraordinary.</p>
          </div>
          <img class="card-user" src=<%= "https://kitt.lewagon.com/placeholder/users/random?#{rand}" %>>
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">

        <div class="feedback_card" style="background-color: white;">
          <div class="card-category">May 4th, 2018</div>
          <div class="feedback_card-description">
            <h2>Great service</h2>
            <p>This marketplace for influencers is amazing. I love it. I can contact influencers that are interested in spreading a cause and willing to promote my social product. Extraordinary.</p>
          </div>
          <img class="card-user" src=<%= "https://kitt.lewagon.com/placeholder/users/random?#{rand}" %>>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>

  </div>
</div>
